<!DOCTYPE html>
<html>
  <head>
    <title>Poop Train Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>

  </head>

    <script src="http://code.jquery.com/jquery.js"></script>

  <body>

    <div class="container-narrow">

      <!-- <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a target="_blank" href="http://www.eventhandler.co.uk">Event Handler</a></li>
        </ul>
        <h3 class="muted">&nbsp;</h3>
      </div>
      -->

      <hr>

      <div class="jumbotron">
        <h1>Poop Train Generator</h1>
        <p class="lead">The Pandoran Lorem Ipsum Generator</p>

      </div>

      <div class="row-fluid marketing">
        <div class="span">
          <h4>Our Checklist</h4>
          <p>How many paragraphs?</p>
          <div>
            <input type="radio" value="1">1</input>
            <input type="radio" value="2">2</input>
            <input type="radio" value="3">3</input>
            <input type="radio" value="4">4</input>
            <input type="radio" value="5">5</input>
          </div>

          <div>
          	<button>Hello</button>
          </div>

          <p><%= HomeHelper.paragraphs 5 =%></p>


        </div>

      <hr>

    </div>  

  </body>
  </body>
</html>